h1 {
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.screen {
	border: 2px solid black;
	width:98%;
	height:125px;
	margin: 5px;
	padding: 5px;
	overflow: hidden;
	background: #ccc;
	font-size: 80px;

}

/*@keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%; 
  }

  to {
    margin-left: 90%;
    width: 100%;
  }
}*/
.screen p {
	position: relative;
	margin-bottom: 7px;
}

/*.screen p{
	animation-duration: 5s;
  	animation-name: slidein;
  	/*margin-bottom: 7px;*/
/*}*/

#start {
	margin-left: 48%;
	margin-right: 48%;
	padding: 5px;


}

#words {
	height:60px ;
	width:500px;
	font-size: 45px;
	margin: 5px;
	margin-left: 25%;
	padding: 5px;
}
#submit{
	height:60px;
	width:100px;
	margin-top: -43px;
	padding: 5px;

}

#form {
	height:63px;
	width: 98%;
}
#p1box{
	width: 45%;
	font-size:30px;
	float: left;

}
#p2box{
	width: 45%;
	font-size: 30px;
	float:left;
}